<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %> - RWBookStore</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RWBookStore</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">主页</a></li>
            <li><a href="#">图书列表</a></li>
            <li><a href="#">购物车</a></li>
          </ul>
          <% if (user) { %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><%= user %></a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
          <% } %>
          <% if (!user) {%>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/reg">注册</a></li>
            </ul>
          <% } %>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <% if (success) { %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= success %>
        </div>
      <% } %>
      <% if (error) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= error %>
        </div>
      <% } %>
    </div>
    
          
            
  

