<%- include header %>

    <div class = "container">
      <div class = "jumbotron">
        <h1>欢迎</h1>
        <p>没错，这是一个简易的书城。</p>
        <p>
          <a class="btn btn-lg btn-primary" href="https://github.com/brickgao/RWBookstore" role="button">View on Github &raquo;</a>
        </p>
      </div>
    </div>

<%- include footer %>
